$main-color: #004C93;
$font-h: 'Inter', sans-serif;
$font-p: 'Roboto', sans-serif;
$container: 1150px;
$container-mobile: 605px;

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.ttf");
    //src: url("../fonts/Inter-Bold.ttf");
    //src: url("../fonts/Inter-Black.ttf");
    //src: url("../fonts/Inter-Medium.ttf");
    //src: url("../fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    //src: url("../fonts/Roboto-Black.ttf");
    //src: url("../fonts/Roboto-Bold.ttf");
    //src: url("../fonts/Roboto-Medium.ttf");

}

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: $container;
    margin: 0 auto;
    padding: 0 20px;
}

.link-mp {
    text-decoration: none;

    &__li {
        &_style {
            color: #FFFFFF;
        }

        &_style:hover {
            text-decoration: underline;
            //font-weight: 700;
        }
    }
}

.input-mp {

    &__calc {
        width: 550px;
        height: 32px;
        border: 1px solid #000000;
        outline: none;
        padding-left: 5px;
    }

    &__calc-select {
        width: 555px;
    }
}

.button {
    background-color: $main-color;

    &__calc {
        margin-top: 39px;
        padding: 13px 46px;
        border-radius: 5px;
        border: none;

        &_style {
            font-family: $font-p;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: #FFFFFF;
        }
    }
}

.button__calc:hover {
    background-color: #FFFFFF;
    padding: 12px 45px;
    border: 1px solid $main-color;
}

.button__calc_style:hover  {
    color: $main-color;
}

.header {
    min-height: 100px;
    background-color: $main-color;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;

    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__h {
        display: block;
        justify-content: start;

        &_style {
            font-family: $font-h;
            color: #FFFFFF;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            text-align: left;
        }
    }

    &__nav {
        min-width: 63%;
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        flex-wrap: wrap;

        &_a {
            padding-left: 10px;
        }

        &_style {
            font-family: $font-h;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
    }

    &__burger {
        display: none;
        right: 20px;

        &-sum {
            list-style: none;
        }

        &-sum::after {
            content: "";
            display: inline-block;
            background: url('../img/burger.svg');
            width: 38px;
            height: 38px;
            background-size: 38px 38px;
        }

        &-img {
            display: block;
            height: 60px;
            width: 38px;
        }
    }
}

.about {
    margin-top: -150px;
    padding-top: 300px;
    display: flex;
    justify-content: space-between;

    &-box {
        display: flex;
        flex-direction: column;
        max-width: 45%;
        min-height: 250px;
        margin-top: 50px;
        margin-right: 20px;

        &__h {

            &_style {
                font-family: $font-h;
                font-size: 36px;
                font-weight: 700;
                line-height: 44px;
                text-align: left;
                color: $main-color;

            }
        }

        &__p {
            padding-top: 45px;

            &_style {
                font-family: $font-h;
                font-size: 24px;
                font-style: italic;
                font-weight: 700;
                line-height: 29px;
                text-align: left;
                color: $main-color;
            }
        }
    }
}

.activity {
    margin-top: -58px;
    padding-top: 116px;
    background-color: #F3FBFF;
    background-clip:content-box;

    &__block {
     min-height: 541px;
    display: flex;
    flex-direction: column;
    max-width: $container;
    }

    &__h {
        display: block;
        padding: 26px 0 26px 0;

        &_style {
            font-family: $font-h;
            font-size: 36px;
            font-weight: 700;
            line-height: 44px;
            color: $main-color;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        margin-bottom: 37px;
    }

    &-item {
        border: 1px solid $main-color;
        width: 200px;
        height: 289px;
        border-radius: 4px;
        overflow: auto;
        margin-right: 10px;

        &_align {
            align-self: flex-end;
        }

        &__h {
            margin: 10px 25px -6px 12px;
            padding: 0;

            &_style {
                font-family: $font-p;
                font-size: 120px;
                font-weight: 900;
                color: $main-color;
            }
        }

        &__p {
            margin: 0 25px 15px 12px;

            &_style {
                font-family: $font-p;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                text-align: left;
                color: $main-color;
            }
        }
    }

    &-item:last-child {
        margin-right: 0;
    }
}

.calc {
    margin-top: -100px;
    padding-top: 127px;

    &__h {

        &_style {
            font-family: $font-h;
            font-size: 36px;
            font-weight: 700;
            line-height: 44px;
            color: $main-color;
        }
    }

    &__input {
        margin-top: 29px;
    }

    &__label {

        &_style {
            font-family: $font-p;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
        }
    }
}

.problems {
    &-item {
        &__h {
            text-align: center;
            margin-top: -12px;
        }

        &__p {
            margin: 0 25px 15px 12px;
        }
    }
}

.mood {
    margin-top: 53px;

    &_h {
        font-family: $font-h;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        color: $main-color;
    }

    &_box {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
    }
}

.footer {
    min-height: 100px;
    background-color: $main-color;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 73px;

    &-box {
        display: flex;
        align-items: start;
        justify-content: space-between;
        width: 100%;
    }

    &__h {
        display: block;
        justify-content: start;

        &_style {
            font-family: $font-h;
            color: #FFFFFF;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            text-align: left;
        }
    }

    &__nav {
        // width: 63%;
        display: flex;
        list-style-type: none;
        justify-content: end;
        align-self: center;

        &_style {
            font-family: $font-h;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
    }
}

@media screen and (max-width: 980px) {

    .header {
        &__nav {
            flex-wrap: wrap;
        }
    }

    .about {
        flex-direction: column;
        justify-content: space-between;
        margin-top: -200px;
        padding-top: 270px;
        align-items: center;

        &-box {
            max-width: 100%;

        }
    }
}

@media screen and (max-width: 700px) {

    .container {
        max-width: $container-mobile;
    }

    .header {

        height: min-content;
        align-items: start;

        &__nav {
            display: none;
        }

        &-box {
            margin-top: 31px;
            align-items: start;
        }

        &__burger {
            display: block;

            &-sum {
                display: flex;
                justify-content: end;
            }

            &-details {
                display: flex;
                list-style-type: none;
                flex-direction: column;
                justify-content: space-between;
                align-items: end;
                height: 278px;
                margin: 66px 0 25px 0;

            }
        }
    }

    .about {
        flex-direction: column;
        justify-content: space-between;
        margin-top: -200px;
        padding-top: 270px;

        &-box {
            max-width: 100%;
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__img-box {
            margin-top: 50px;
            object-fit: cover;
        }
    }

    .activity {
        padding-top: 110px;
        margin-top: -55px;

        &__box {
            flex-direction: column;
        }

        &__h {
            padding-bottom: 7px;
        }

        &-item {
            width: 100%;
            height: 200px;
            display: flex;
            margin-top: 19px;

            &_align {
                align-self: normal;
            }

            &__h {
                margin-left: 34px;
                margin-right: 3px;
            }

            &__p {
                padding-top: 31px;
            }
        }
    }

    .input {
        &-mp {
            &__calc {
                width: 100%;
            }

            &__calc-select {
                width: calc(100% + 5px);

            }
        }
    }

    .problems {
        padding-top: 85px;
        margin-top: 66px;

        &__box {
            flex-direction: column;
        }

        &__h {
            padding-bottom: 7px;
        }

        &-item {
            width: $container-mobile;
            height: 125px;
            display: flex;
            margin-top: 19px;

            &_align {
                align-self: normal;
            }

            &__h {
                margin-left: 50px;
                margin-right: 3px;
            }

            &__p {
                padding-top: 11px;
            }
        }
    }

    .mood {
        margin-top: 19px;
        object-fit: cover;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}