@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf"); }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf"); }
* {
  padding: 0;
  margin: 0; }

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px; }

.link-mp {
  text-decoration: none; }
  .link-mp__li_style {
    color: #FFFFFF; }
  .link-mp__li_style:hover {
    text-decoration: underline; }

.input-mp__calc {
  width: 550px;
  height: 32px;
  border: 1px solid #000000;
  outline: none;
  padding-left: 5px; }
.input-mp__calc-select {
  width: 555px; }

.button {
  background-color: #004C93; }
  .button__calc {
    margin-top: 39px;
    padding: 13px 46px;
    border-radius: 5px;
    border: none; }
    .button__calc_style {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: #FFFFFF; }

.button__calc:hover {
  background-color: #FFFFFF;
  padding: 12px 45px;
  border: 1px solid #004C93; }

.button__calc_style:hover {
  color: #004C93; }

.header {
  min-height: 100px;
  background-color: #004C93;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0; }
  .header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
  .header__h {
    display: block;
    justify-content: start; }
    .header__h_style {
      font-family: "Inter", sans-serif;
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      text-align: left; }
  .header__nav {
    min-width: 63%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap; }
    .header__nav_a {
      padding-left: 10px; }
    .header__nav_style {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px; }
  .header__burger {
    display: none;
    right: 20px; }
    .header__burger-sum {
      list-style: none; }
    .header__burger-sum::after {
      content: "";
      display: inline-block;
      background: url("../img/burger.svg");
      width: 38px;
      height: 38px;
      background-size: 38px 38px; }
    .header__burger-img {
      display: block;
      height: 60px;
      width: 38px; }

.about {
  margin-top: -150px;
  padding-top: 300px;
  display: flex;
  justify-content: space-between; }
  .about-box {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    min-height: 250px;
    margin-top: 50px;
    margin-right: 20px; }
    .about-box__h_style {
      font-family: "Inter", sans-serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
      text-align: left;
      color: #004C93; }
    .about-box__p {
      padding-top: 45px; }
      .about-box__p_style {
        font-family: "Inter", sans-serif;
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        line-height: 29px;
        text-align: left;
        color: #004C93; }

.activity {
  margin-top: -58px;
  padding-top: 116px;
  background-color: #F3FBFF;
  background-clip: content-box; }
  .activity__block {
    min-height: 541px;
    display: flex;
    flex-direction: column;
    max-width: 1150px; }
  .activity__h {
    display: block;
    padding: 26px 0 26px 0; }
    .activity__h_style {
      font-family: "Inter", sans-serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
      color: #004C93; }
  .activity__box {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 37px; }
  .activity-item {
    border: 1px solid #004C93;
    width: 200px;
    height: 289px;
    border-radius: 4px;
    overflow: auto;
    margin-right: 10px; }
    .activity-item_align {
      align-self: flex-end; }
    .activity-item__h {
      margin: 10px 25px -6px 12px;
      padding: 0; }
      .activity-item__h_style {
        font-family: "Roboto", sans-serif;
        font-size: 120px;
        font-weight: 900;
        color: #004C93; }
    .activity-item__p {
      margin: 0 25px 15px 12px; }
      .activity-item__p_style {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #004C93; }
  .activity-item:last-child {
    margin-right: 0; }

.calc {
  margin-top: -100px;
  padding-top: 127px; }
  .calc__h_style {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #004C93; }
  .calc__input {
    margin-top: 29px; }
  .calc__label_style {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; }

.problems-item__h {
  text-align: center;
  margin-top: -12px; }
.problems-item__p {
  margin: 0 25px 15px 12px; }

.mood {
  margin-top: 53px; }
  .mood_h {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #004C93; }
  .mood_box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%; }

.footer {
  min-height: 100px;
  background-color: #004C93;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 73px; }
  .footer-box {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%; }
  .footer__h {
    display: block;
    justify-content: start; }
    .footer__h_style {
      font-family: "Inter", sans-serif;
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      text-align: left; }
  .footer__nav {
    display: flex;
    list-style-type: none;
    justify-content: end;
    align-self: center; }
    .footer__nav_style {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px; }

@media screen and (max-width: 980px) {
  .header__nav {
    flex-wrap: wrap; }

  .about {
    flex-direction: column;
    justify-content: space-between;
    margin-top: -200px;
    padding-top: 270px;
    align-items: center; }
    .about-box {
      max-width: 100%; } }
@media screen and (max-width: 700px) {
  .container {
    max-width: 605px; }

  .header {
    height: min-content;
    align-items: start; }
    .header__nav {
      display: none; }
    .header-box {
      margin-top: 31px;
      align-items: start; }
    .header__burger {
      display: block; }
      .header__burger-sum {
        display: flex;
        justify-content: end; }
      .header__burger-details {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        height: 278px;
        margin: 66px 0 25px 0; }

  .about {
    flex-direction: column;
    justify-content: space-between;
    margin-top: -200px;
    padding-top: 270px; }
    .about-box {
      max-width: 100%; }
    .about__img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .about__img-box {
      margin-top: 50px;
      object-fit: cover; }

  .activity {
    padding-top: 110px;
    margin-top: -55px; }
    .activity__box {
      flex-direction: column; }
    .activity__h {
      padding-bottom: 7px; }
    .activity-item {
      width: 100%;
      height: 200px;
      display: flex;
      margin-top: 19px; }
      .activity-item_align {
        align-self: normal; }
      .activity-item__h {
        margin-left: 34px;
        margin-right: 3px; }
      .activity-item__p {
        padding-top: 31px; }

  .input-mp__calc {
    width: 100%; }
  .input-mp__calc-select {
    width: calc(100% + 5px); }

  .problems {
    padding-top: 85px;
    margin-top: 66px; }
    .problems__box {
      flex-direction: column; }
    .problems__h {
      padding-bottom: 7px; }
    .problems-item {
      width: 605px;
      height: 125px;
      display: flex;
      margin-top: 19px; }
      .problems-item_align {
        align-self: normal; }
      .problems-item__h {
        margin-left: 50px;
        margin-right: 3px; }
      .problems-item__p {
        padding-top: 11px; }

  .mood {
    margin-top: 19px;
    object-fit: cover; }
    .mood__img {
      width: 100%;
      height: 100%;
      object-fit: cover; } }

/*# sourceMappingURL=my-page_style.css.map */
